.weatherCard {
    position: relative;
    display: flex;

    h1 {
        font-size: 5.5rem;
        margin: 0;
    }

    h5 {
        font-size: 1rem;
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    h4 {
        font-size: 0.9rem;
        margin: 0;
    }

    .details {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 77.5%;
        flex-wrap: wrap-reverse;
        text-align: right;
    }

    .imageWrap {
        width: 38vmin;
        height: auto;
        position: absolute;
        top: -76%;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    //  position: absolute;
    // right: 0;
    // bottom: 0;
    // display: flex;
    // flex-direction: column-reverse;
    // /* justify-content: space-between; */
    // width: 80%;
    // flex-wrap: wrap-reverse;
    // text-align: right;



}