.searchBar {
    background-color: var(--search-bar-bg);
    display: flex;
    flex-direction: row;
    height: 60px;
    border-radius: 1rem;
    padding: 0.4rem 1rem;

    .clearBtn {
        position: relative;
        background-color: transparent;
        background-image: var(--close-btn-icon);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
    }

    .inputWrap {
        display: flex;
        flex-direction: column;
        width: 100%;

        .labelText {
            font-size: 0.65rem;
            color: var(--label-text);
        }

        input {
            background-color: transparent;
            outline: none;
            border: none;
            height: 100%;
            color: var(--text-color);
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
            -webkit-text-fill-color: inherit !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

}

@media (max-width: 500px) {
    .searchBar .clearBtn {
        right: 2%;
    }
}

@media (max-width: 470px) {
    .searchBar .clearBtn {
        right: 18%;
    }
}